# ETL Project:
## US State Statistics - Median Income, Population & Unemployment Rates from 2015 - 2019

In [1]:
import pandas as pd
import os

# EXTRACT

### 1st Dataset: Median Income by State (1984 - 2019)
Downloaded from US Census website as CSV

In [2]:
median_income_by_state = "raw_data/median_income_1984_to_2019.csv"
median_income_df = pd.read_csv(median_income_by_state)

In [3]:
median_income_df.head()

,State,2019,Unnamed: 2,2018,Unnamed: 4,2017 (40),Unnamed: 6,2017,Unnamed: 8,2016,...,1988,Unnamed: 68,1987 (21),Unnamed: 70,1986,Unnamed: 72,1985 (20),Unnamed: 74,1984 (19),Unnamed: 76
0,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
1,United States,"68,703",550,"63,179",420,"61,136",322,"61,372",335,"59,039",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
2,Alabama,"56,200","2,512","49,936","2,423","50,865","1,094","51,113",845,"47,221",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
3,Alaska,"78,394","6,685","68,734","3,390","77,987","3,718","72,231","2,719","75,723",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
4,Arizona,"70,674","3,391","62,283","2,291","59,700","2,689","61,125","2,642","57,100",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609

### 2nd Dataset: Population by State (2010 - 2019)
Downloaded from US Census website as CSV

In [4]:
population_by_state = "raw_data/population by state_2010_to_2019.csv"
population_df = pd.read_csv(population_by_state)

In [5]:
population_df.head()

,Geographic Area,"April 1, 2010",Unnamed: 2,Population Estimate (as of July 1),Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
2,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
3,Midwest,"66,927,001","66,929,725","66,974,416","67,157,800","67,336,743","67,560,379","67,745,167","67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
4,South,"114,555,744","114,563,030","114,866,680","116,006,522","117,241,208","118,364,400","119,624,037","120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"

### 3rd Dataset: Unemployment Rate by State (2019)
Webscraped from US Bureau of Labor website

In [6]:
# 2019 table:
url = 'https://www.bls.gov/lau/lastrk19.htm'

In [7]:
tables = pd.read_html(url)
tables

[                                                State  \
 0                                       United States
 1                                                 NaN
 2                                        North Dakota
 3                                             Vermont
 4                                              Hawaii
 5                                                Utah
 6                                       New Hampshire
 7                                            Colorado
 8                                               Maine
 9                                            Virginia
 10                                              Idaho
 11                                               Iowa
 12                                     South Carolina
 13                                            Alabama
 14                                      Massachusetts
 15                                           Nebraska
 16                                       South Dakota
 17                                           Oklahoma
 18                                            Indiana
 19                                             Kansas
 20                                          Minnesota
 21                                            Florida
 22                                           Missouri
 23                                          Wisconsin
 24                                         New Jersey
 25                                          Tennessee
 26                                           Arkansas
 27                                            Georgia
 28                                           Maryland
 29                                              Texas
 30                                        Connecticut
 31                                            Montana
 32                                       Rhode Island
 33                                           Delaware
 34                                             Oregon
 35                                            Wyoming
 36                                           New York
 37                                     North Carolina
 38                                             Nevada
 39                                           Illinois
 40                                           Kentucky
 41                                           Michigan
 42                                         Washington
 43                                         California
 44                                               Ohio
 45                                       Pennsylvania
 46                                          Louisiana
 47                                            Arizona
 48                                      West Virginia
 49                                         New Mexico
 50                                             Alaska
 51                               District of Columbia
 52                                        Mississippi
 53  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...
 54  Note: Rates shown are a percentage of the labo...

                                              2019rate  \
 0                                                 3.7
 1                                                 NaN
 2                                                 2.3
 3                                                 2.3
 4                                                 2.5
 5                                                 2.5
 6                                                 2.6
 7                                                 2.7
 8                                                 2.7
 9                                                 2.7
 10                                                2.8
 11                                                2.8
 12                                                2.8
 13                                                3.0
 14                                                3.0
 15                                                3.0
 16                                                3.0
 17                                                3.1
 18                                                3.2
 19                                                3.2
 20                                                3.2
 21                                                3.3
 22                                                3.3
 23                                                3.3
 24                                                3.4
 25                                                3.4
 26                                                3.5
 27                                                3.5
 28                                                3.5
 29                                                3.5
 30                                                3.6
 31                                                3.6
 32                                                3.6
 33                                                3.7
 34                                                3.7
 35                                                3.7
 36                                                3.8
 37                                                3.8
 38                                                3.9
 39                                                4.0
 40                                                4.1
 41                                                4.1
 42                                                4.1
 43                                                4.2
 44                                                4.2
 45                                                4.5
 46                                                4.7
 47                                                4.9
 48                                                4.9
 49                                                5.0
 50                                                5.4
 51                                                5.4
 52                                                5.5
 53  Unemployment Rates for States Unemployment Rat...
 54  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   1
 4                                                   3
 5                                                   3
 6                                                   5
 7                                                   6
 8                                                   6
 9                                                   6
 10                                                  9
 11                                                  9
 12                                                  9
 13                                                 12
 14                                                 12
 15                                                 12
 16                                                 12
 17                                                 16
 18                                                 17
 19                                                 17
 20                                                 17
 21                                                 20
 22                                                 20
 23                                                 20
 24                                                 23
 25                                                 23
 26                                                 25
 27                                                 25
 28                                                 25
 29                                                 25
 30                                                 29
 31                                                 29
 32                                                 29
 33                                                 32
 34                                                 32
 35                                                 32
 36                                                 35
 37                                                 35
 38                                                 37
 39                                                 38
 40                                                 39
 41                                                 39
 42                                                 39
 43                                                 42
 44                                                 42
 45                                                 44
 46                                                 45
 47                                                 46
 48                                                 46
 49                                                 48
 50                                                 49
 51                                                 49
 52                                                 51
 53                                                NaN
 54  Note: Rates shown are a percentage of the labo...  ,
                                                 State  \
 0                                       United States
 1                                                 NaN
 2                                        North Dakota
 3                                             Vermont
 4                                              Hawaii
 5                                                Utah
 6                                       New Hampshire
 7                                            Colorado
 8                                               Maine
 9                                            Virginia
 10                                              Idaho
 11                                               Iowa
 12                                     South Carolina
 13                                            Alabama
 14                                      Massachusetts
 15                                           Nebraska
 16                                       South Dakota
 17                                           Oklahoma
 18                                            Indiana
 19                                             Kansas
 20                                          Minnesota
 21                                            Florida
 22                                           Missouri
 23                                          Wisconsin
 24                                         New Jersey
 25                                          Tennessee
 26                                           Arkansas
 27                                            Georgia
 28                                           Maryland
 29                                              Texas
 30                                        Connecticut
 31                                            Montana
 32                                       Rhode Island
 33                                           Delaware
 34                                             Oregon
 35                                            Wyoming
 36                                           New York
 37                                     North Carolina
 38                                             Nevada
 39                                           Illinois
 40                                           Kentucky
 41                                           Michigan
 42                                         Washington
 43                                         California
 44                                               Ohio
 45                                       Pennsylvania
 46                                          Louisiana
 47                                            Arizona
 48                                      West Virginia
 49                                         New Mexico
 50                                             Alaska
 51                               District of Columbia
 52                                        Mississippi
 53  Note: Rates shown are a percentage of the labo...

                                              2019rate  \
 0                                                 3.7
 1                                                 NaN
 2                                                 2.3
 3                                                 2.3
 4                                                 2.5
 5                                                 2.5
 6                                                 2.6
 7                                                 2.7
 8                                                 2.7
 9                                                 2.7
 10                                                2.8
 11                                                2.8
 12                                                2.8
 13                                                3.0
 14                                                3.0
 15                                                3.0
 16                                                3.0
 17                                                3.1
 18                                                3.2
 19                                                3.2
 20                                                3.2
 21                                                3.3
 22                                                3.3
 23                                                3.3
 24                                                3.4
 25                                                3.4
 26                                                3.5
 27                                                3.5
 28                                                3.5
 29                                                3.5
 30                                                3.6
 31                                                3.6
 32                                                3.6
 33                                                3.7
 34                                                3.7
 35                                                3.7
 36                                                3.8
 37                                                3.8
 38                                                3.9
 39                                                4.0
 40                                                4.1
 41                                                4.1
 42                                                4.1
 43                                                4.2
 44                                                4.2
 45                                                4.5
 46                                                4.7
 47                                                4.9
 48                                                4.9
 49                                                5.0
 50                                                5.4
 51                                                5.4
 52                                                5.5
 53  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   1
 4                                                   3
 5                                                   3
 6                                                   5
 7                                                   6
 8                                                   6
 9                                                   6
 10                                                  9
 11                                                  9
 12                                                  9
 13                                                 12
 14                                                 12
 15                                                 12
 16                                                 12
 17                                                 16
 18                                                 17
 19                                                 17
 20                                                 17
 21                                                 20
 22                                                 20
 23                                                 20
 24                                                 23
 25                                                 23
 26                                                 25
 27                                                 25
 28                                                 25
 29                                                 25
 30                                                 29
 31                                                 29
 32                                                 29
 33                                                 32
 34                                                 32
 35                                                 32
 36                                                 35
 37                                                 35
 38                                                 37
 39                                                 38
 40                                                 39
 41                                                 39
 42                                                 39
 43                                                 42
 44                                                 42
 45                                                 44
 46                                                 45
 47                                                 46
 48                                                 46
 49                                                 48
 50                                                 49
 51                                                 49
 52                                                 51
 53  Note: Rates shown are a percentage of the labo...  ]

In [8]:
unemp_2019_df = tables[0]
unemp_2019_df.head()

           State 2019rate Rank
0  United States      3.7  NaN
1            NaN      NaN  NaN
2   North Dakota      2.3    1
3        Vermont      2.3    1
4         Hawaii      2.5    3

### 4th Dataset: Unemployment Rate by State (2018)
Webscraped from US Bureau of Labor website

In [9]:
# 2018 table:
url = 'https://www.bls.gov/lau/lastrk18.htm'

In [10]:
tables = pd.read_html(url)
tables

[                                                State  \
 0                                       United States
 1                                                 NaN
 2                                              Hawaii
 3                                        North Dakota
 4                                                Iowa
 5                                       New Hampshire
 6                                             Vermont
 7                                               Idaho
 8                                            Nebraska
 9                                        South Dakota
 10                                               Utah
 11                                           Virginia
 12                                           Colorado
 13                                          Minnesota
 14                                          Wisconsin
 15                                              Maine
 16                                           Missouri
 17                                             Kansas
 18                                           Oklahoma
 19                                            Indiana
 20                                      Massachusetts
 21                                     South Carolina
 22                                          Tennessee
 23                                            Florida
 24                                           Arkansas
 25                                           Delaware
 26                                           Maryland
 27                                            Montana
 28                                            Alabama
 29                                        Connecticut
 30                                              Texas
 31                                            Georgia
 32                                         New Jersey
 33                                     North Carolina
 34                                             Oregon
 35                                            Wyoming
 36                                           New York
 37                                       Rhode Island
 38                                           Kentucky
 39                                           Michigan
 40                                         California
 41                                           Illinois
 42                                             Nevada
 43                                       Pennsylvania
 44                                         Washington
 45                                               Ohio
 46                                            Arizona
 47                                          Louisiana
 48                                         New Mexico
 49                                        Mississippi
 50                                      West Virginia
 51                               District of Columbia
 52                                             Alaska
 53  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...
 54  Note: Rates shown are a percentage of the labo...

                                              2018rate  \
 0                                                 3.9
 1                                                 NaN
 2                                                 2.4
 3                                                 2.5
 4                                                 2.6
 5                                                 2.6
 6                                                 2.6
 7                                                 2.8
 8                                                 2.9
 9                                                 2.9
 10                                                2.9
 11                                                2.9
 12                                                3.0
 13                                                3.0
 14                                                3.0
 15                                                3.1
 16                                                3.2
 17                                                3.3
 18                                                3.3
 19                                                3.4
 20                                                3.4
 21                                                3.4
 22                                                3.5
 23                                                3.6
 24                                                3.7
 25                                                3.7
 26                                                3.8
 27                                                3.8
 28                                                3.9
 29                                                3.9
 30                                                3.9
 31                                                4.0
 32                                                4.0
 33                                                4.0
 34                                                4.0
 35                                                4.0
 36                                                4.1
 37                                                4.1
 38                                                4.2
 39                                                4.2
 40                                                4.3
 41                                                4.4
 42                                                4.4
 43                                                4.4
 44                                                4.4
 45                                                4.5
 46                                                4.8
 47                                                4.8
 48                                                4.9
 49                                                5.0
 50                                                5.2
 51                                                5.7
 52                                                5.9
 53  Unemployment Rates for States Unemployment Rat...
 54  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   2
 4                                                   3
 5                                                   3
 6                                                   3
 7                                                   6
 8                                                   7
 9                                                   7
 10                                                  7
 11                                                  7
 12                                                 11
 13                                                 11
 14                                                 11
 15                                                 14
 16                                                 15
 17                                                 16
 18                                                 16
 19                                                 18
 20                                                 18
 21                                                 18
 22                                                 21
 23                                                 22
 24                                                 23
 25                                                 23
 26                                                 25
 27                                                 25
 28                                                 27
 29                                                 27
 30                                                 27
 31                                                 30
 32                                                 30
 33                                                 30
 34                                                 30
 35                                                 30
 36                                                 35
 37                                                 35
 38                                                 37
 39                                                 37
 40                                                 39
 41                                                 40
 42                                                 40
 43                                                 40
 44                                                 40
 45                                                 44
 46                                                 45
 47                                                 45
 48                                                 47
 49                                                 48
 50                                                 49
 51                                                 50
 52                                                 51
 53                                                NaN
 54  Note: Rates shown are a percentage of the labo...  ,
                                                 State  \
 0                                       United States
 1                                                 NaN
 2                                              Hawaii
 3                                        North Dakota
 4                                                Iowa
 5                                       New Hampshire
 6                                             Vermont
 7                                               Idaho
 8                                            Nebraska
 9                                        South Dakota
 10                                               Utah
 11                                           Virginia
 12                                           Colorado
 13                                          Minnesota
 14                                          Wisconsin
 15                                              Maine
 16                                           Missouri
 17                                             Kansas
 18                                           Oklahoma
 19                                            Indiana
 20                                      Massachusetts
 21                                     South Carolina
 22                                          Tennessee
 23                                            Florida
 24                                           Arkansas
 25                                           Delaware
 26                                           Maryland
 27                                            Montana
 28                                            Alabama
 29                                        Connecticut
 30                                              Texas
 31                                            Georgia
 32                                         New Jersey
 33                                     North Carolina
 34                                             Oregon
 35                                            Wyoming
 36                                           New York
 37                                       Rhode Island
 38                                           Kentucky
 39                                           Michigan
 40                                         California
 41                                           Illinois
 42                                             Nevada
 43                                       Pennsylvania
 44                                         Washington
 45                                               Ohio
 46                                            Arizona
 47                                          Louisiana
 48                                         New Mexico
 49                                        Mississippi
 50                                      West Virginia
 51                               District of Columbia
 52                                             Alaska
 53  Note: Rates shown are a percentage of the labo...

                                              2018rate  \
 0                                                 3.9
 1                                                 NaN
 2                                                 2.4
 3                                                 2.5
 4                                                 2.6
 5                                                 2.6
 6                                                 2.6
 7                                                 2.8
 8                                                 2.9
 9                                                 2.9
 10                                                2.9
 11                                                2.9
 12                                                3.0
 13                                                3.0
 14                                                3.0
 15                                                3.1
 16                                                3.2
 17                                                3.3
 18                                                3.3
 19                                                3.4
 20                                                3.4
 21                                                3.4
 22                                                3.5
 23                                                3.6
 24                                                3.7
 25                                                3.7
 26                                                3.8
 27                                                3.8
 28                                                3.9
 29                                                3.9
 30                                                3.9
 31                                                4.0
 32                                                4.0
 33                                                4.0
 34                                                4.0
 35                                                4.0
 36                                                4.1
 37                                                4.1
 38                                                4.2
 39                                                4.2
 40                                                4.3
 41                                                4.4
 42                                                4.4
 43                                                4.4
 44                                                4.4
 45                                                4.5
 46                                                4.8
 47                                                4.8
 48                                                4.9
 49                                                5.0
 50                                                5.2
 51                                                5.7
 52                                                5.9
 53  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   2
 4                                                   3
 5                                                   3
 6                                                   3
 7                                                   6
 8                                                   7
 9                                                   7
 10                                                  7
 11                                                  7
 12                                                 11
 13                                                 11
 14                                                 11
 15                                                 14
 16                                                 15
 17                                                 16
 18                                                 16
 19                                                 18
 20                                                 18
 21                                                 18
 22                                                 21
 23                                                 22
 24                                                 23
 25                                                 23
 26                                                 25
 27                                                 25
 28                                                 27
 29                                                 27
 30                                                 27
 31                                                 30
 32                                                 30
 33                                                 30
 34                                                 30
 35                                                 30
 36                                                 35
 37                                                 35
 38                                                 37
 39                                                 37
 40                                                 39
 41                                                 40
 42                                                 40
 43                                                 40
 44                                                 40
 45                                                 44
 46                                                 45
 47                                                 45
 48                                                 47
 49                                                 48
 50                                                 49
 51                                                 50
 52                                                 51
 53  Note: Rates shown are a percentage of the labo...  ]

In [11]:
unemp_2018_df = tables[0]
unemp_2018_df.head()

           State 2018rate Rank
0  United States      3.9  NaN
1            NaN      NaN  NaN
2         Hawaii      2.4    1
3   North Dakota      2.5    2
4           Iowa      2.6    3

### 5th Dataset: Unemployment Rate by State (2017)
Webscraped from US Bureau of Labor website

In [12]:
# 2017 table:
url = 'https://www.bls.gov/lau/lastrk17.htm'

In [13]:
tables = pd.read_html(url)
tables

[                                                State  \
 0                                       United States
 1                                                 NaN
 2                                              Hawaii
 3                                            Colorado
 4                                        North Dakota
 5                                       New Hampshire
 6                                            Nebraska
 7                                             Vermont
 8                                                Iowa
 9                                        South Dakota
 10                                               Utah
 11                                              Idaho
 12                                          Wisconsin
 13                                              Maine
 14                                          Minnesota
 15                                            Indiana
 16                                             Kansas
 17                                           Arkansas
 18                                          Tennessee
 19                                           Virginia
 20                                      Massachusetts
 21                                           Missouri
 22                                           Oklahoma
 23                                           Maryland
 24                                            Montana
 25                                             Oregon
 26                                            Florida
 27                                     South Carolina
 28                                              Texas
 29                                            Wyoming
 30                                        Connecticut
 31                                           Delaware
 32                                         New Jersey
 33                                     North Carolina
 34                                       Rhode Island
 35                                            Alabama
 36                                           Michigan
 37                                           New York
 38                                         Washington
 39                                         California
 40                                            Georgia
 41                                           Kentucky
 42                                            Arizona
 43                                           Illinois
 44                                             Nevada
 45                                               Ohio
 46                                       Pennsylvania
 47                                          Louisiana
 48                                        Mississippi
 49                                      West Virginia
 50                               District of Columbia
 51                                         New Mexico
 52                                             Alaska
 53  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...
 54  Note: Rates shown are a percentage of the labo...

                                              2017rate  \
 0                                                 4.4
 1                                                 NaN
 2                                                 2.2
 3                                                 2.6
 4                                                 2.7
 5                                                 2.8
 6                                                 2.9
 7                                                 3.0
 8                                                 3.1
 9                                                 3.1
 10                                                3.1
 11                                                3.2
 12                                                3.3
 13                                                3.4
 14                                                3.4
 15                                                3.5
 16                                                3.6
 17                                                3.7
 18                                                3.7
 19                                                3.7
 20                                                3.8
 21                                                3.8
 22                                                4.0
 23                                                4.1
 24                                                4.1
 25                                                4.1
 26                                                4.2
 27                                                4.2
 28                                                4.3
 29                                                4.3
 30                                                4.4
 31                                                4.4
 32                                                4.5
 33                                                4.5
 34                                                4.5
 35                                                4.6
 36                                                4.6
 37                                                4.6
 38                                                4.6
 39                                                4.8
 40                                                4.8
 41                                                4.8
 42                                                4.9
 43                                                5.0
 44                                                5.0
 45                                                5.0
 46                                                5.0
 47                                                5.1
 48                                                5.2
 49                                                5.2
 50                                                6.1
 51                                                6.1
 52                                                6.5
 53  Unemployment Rates for States Unemployment Rat...
 54  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   2
 4                                                   3
 5                                                   4
 6                                                   5
 7                                                   6
 8                                                   7
 9                                                   7
 10                                                  7
 11                                                 10
 12                                                 11
 13                                                 12
 14                                                 12
 15                                                 14
 16                                                 15
 17                                                 16
 18                                                 16
 19                                                 16
 20                                                 19
 21                                                 19
 22                                                 21
 23                                                 22
 24                                                 22
 25                                                 22
 26                                                 25
 27                                                 25
 28                                                 27
 29                                                 27
 30                                                 29
 31                                                 29
 32                                                 31
 33                                                 31
 34                                                 31
 35                                                 34
 36                                                 34
 37                                                 34
 38                                                 34
 39                                                 38
 40                                                 38
 41                                                 38
 42                                                 41
 43                                                 42
 44                                                 42
 45                                                 42
 46                                                 42
 47                                                 46
 48                                                 47
 49                                                 47
 50                                                 49
 51                                                 49
 52                                                 51
 53                                                NaN
 54  Note: Rates shown are a percentage of the labo...  ,
                                                 State  \
 0                                       United States
 1                                                 NaN
 2                                              Hawaii
 3                                            Colorado
 4                                        North Dakota
 5                                       New Hampshire
 6                                            Nebraska
 7                                             Vermont
 8                                                Iowa
 9                                        South Dakota
 10                                               Utah
 11                                              Idaho
 12                                          Wisconsin
 13                                              Maine
 14                                          Minnesota
 15                                            Indiana
 16                                             Kansas
 17                                           Arkansas
 18                                          Tennessee
 19                                           Virginia
 20                                      Massachusetts
 21                                           Missouri
 22                                           Oklahoma
 23                                           Maryland
 24                                            Montana
 25                                             Oregon
 26                                            Florida
 27                                     South Carolina
 28                                              Texas
 29                                            Wyoming
 30                                        Connecticut
 31                                           Delaware
 32                                         New Jersey
 33                                     North Carolina
 34                                       Rhode Island
 35                                            Alabama
 36                                           Michigan
 37                                           New York
 38                                         Washington
 39                                         California
 40                                            Georgia
 41                                           Kentucky
 42                                            Arizona
 43                                           Illinois
 44                                             Nevada
 45                                               Ohio
 46                                       Pennsylvania
 47                                          Louisiana
 48                                        Mississippi
 49                                      West Virginia
 50                               District of Columbia
 51                                         New Mexico
 52                                             Alaska
 53  Note: Rates shown are a percentage of the labo...

                                              2017rate  \
 0                                                 4.4
 1                                                 NaN
 2                                                 2.2
 3                                                 2.6
 4                                                 2.7
 5                                                 2.8
 6                                                 2.9
 7                                                 3.0
 8                                                 3.1
 9                                                 3.1
 10                                                3.1
 11                                                3.2
 12                                                3.3
 13                                                3.4
 14                                                3.4
 15                                                3.5
 16                                                3.6
 17                                                3.7
 18                                                3.7
 19                                                3.7
 20                                                3.8
 21                                                3.8
 22                                                4.0
 23                                                4.1
 24                                                4.1
 25                                                4.1
 26                                                4.2
 27                                                4.2
 28                                                4.3
 29                                                4.3
 30                                                4.4
 31                                                4.4
 32                                                4.5
 33                                                4.5
 34                                                4.5
 35                                                4.6
 36                                                4.6
 37                                                4.6
 38                                                4.6
 39                                                4.8
 40                                                4.8
 41                                                4.8
 42                                                4.9
 43                                                5.0
 44                                                5.0
 45                                                5.0
 46                                                5.0
 47                                                5.1
 48                                                5.2
 49                                                5.2
 50                                                6.1
 51                                                6.1
 52                                                6.5
 53  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   2
 4                                                   3
 5                                                   4
 6                                                   5
 7                                                   6
 8                                                   7
 9                                                   7
 10                                                  7
 11                                                 10
 12                                                 11
 13                                                 12
 14                                                 12
 15                                                 14
 16                                                 15
 17                                                 16
 18                                                 16
 19                                                 16
 20                                                 19
 21                                                 19
 22                                                 21
 23                                                 22
 24                                                 22
 25                                                 22
 26                                                 25
 27                                                 25
 28                                                 27
 29                                                 27
 30                                                 29
 31                                                 29
 32                                                 31
 33                                                 31
 34                                                 31
 35                                                 34
 36                                                 34
 37                                                 34
 38                                                 34
 39                                                 38
 40                                                 38
 41                                                 38
 42                                                 41
 43                                                 42
 44                                                 42
 45                                                 42
 46                                                 42
 47                                                 46
 48                                                 47
 49                                                 47
 50                                                 49
 51                                                 49
 52                                                 51
 53  Note: Rates shown are a percentage of the labo...  ]

In [14]:
unemp_2017_df = tables[0]
unemp_2017_df.head()

           State 2017rate Rank
0  United States      4.4  NaN
1            NaN      NaN  NaN
2         Hawaii      2.2    1
3       Colorado      2.6    2
4   North Dakota      2.7    3

### 6th Dataset: Unemployment Rate by State (2016)
Webscraped from US Bureau of Labor website

In [15]:
# 2016 table:
url = 'https://www.bls.gov/lau/lastrk16.htm'

In [16]:
tables = pd.read_html(url)
tables

[                                                State  \
 0                                       United States
 1                                                 NaN
 2                                              Hawaii
 3                                       New Hampshire
 4                                        South Dakota
 5                                            Colorado
 6                                            Nebraska
 7                                        North Dakota
 8                                             Vermont
 9                                                Utah
 10                                               Iowa
 11                                              Idaho
 12                                              Maine
 13                                          Minnesota
 14                                          Wisconsin
 15                                           Arkansas
 16                                             Kansas
 17                                      Massachusetts
 18                                           Virginia
 19                                           Maryland
 20                                            Montana
 21                                            Indiana
 22                                           Delaware
 23                                           Missouri
 24                                           Oklahoma
 25                                              Texas
 26                                             Oregon
 27                                          Tennessee
 28                                        Connecticut
 29                                            Florida
 30                                         New Jersey
 31                                           New York
 32                                     South Carolina
 33                                           Kentucky
 34                                           Michigan
 35                                               Ohio
 36                                     North Carolina
 37                                       Rhode Island
 38                                         Washington
 39                                       Pennsylvania
 40                                            Georgia
 41                                            Wyoming
 42                                            Arizona
 43                                         California
 44                                             Nevada
 45                                            Alabama
 46                                           Illinois
 47                                        Mississippi
 48                                          Louisiana
 49                                      West Virginia
 50                               District of Columbia
 51                                             Alaska
 52                                         New Mexico
 53  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...
 54  Note: Rates shown are a percentage of the labo...

                                              2016rate  \
 0                                                 4.9
 1                                                 NaN
 2                                                 2.9
 3                                                 2.9
 4                                                 3.0
 5                                                 3.1
 6                                                 3.1
 7                                                 3.1
 8                                                 3.1
 9                                                 3.3
 10                                                3.6
 11                                                3.7
 12                                                3.8
 13                                                3.9
 14                                                3.9
 15                                                4.0
 16                                                4.0
 17                                                4.0
 18                                                4.0
 19                                                4.3
 20                                                4.3
 21                                                4.4
 22                                                4.5
 23                                                4.5
 24                                                4.6
 25                                                4.6
 26                                                4.7
 27                                                4.7
 28                                                4.8
 29                                                4.9
 30                                                4.9
 31                                                4.9
 32                                                4.9
 33                                                5.0
 34                                                5.0
 35                                                5.0
 36                                                5.1
 37                                                5.2
 38                                                5.2
 39                                                5.3
 40                                                5.4
 41                                                5.4
 42                                                5.5
 43                                                5.5
 44                                                5.8
 45                                                5.9
 46                                                5.9
 47                                                5.9
 48                                                6.1
 49                                                6.1
 50                                                6.2
 51                                                6.6
 52                                                6.7
 53  Unemployment Rates for States Unemployment Rat...
 54  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   1
 4                                                   3
 5                                                   4
 6                                                   4
 7                                                   4
 8                                                   4
 9                                                   8
 10                                                  9
 11                                                 10
 12                                                 11
 13                                                 12
 14                                                 12
 15                                                 14
 16                                                 14
 17                                                 14
 18                                                 14
 19                                                 18
 20                                                 18
 21                                                 20
 22                                                 21
 23                                                 21
 24                                                 23
 25                                                 23
 26                                                 25
 27                                                 25
 28                                                 27
 29                                                 28
 30                                                 28
 31                                                 28
 32                                                 28
 33                                                 32
 34                                                 32
 35                                                 32
 36                                                 35
 37                                                 36
 38                                                 36
 39                                                 38
 40                                                 39
 41                                                 39
 42                                                 41
 43                                                 41
 44                                                 43
 45                                                 44
 46                                                 44
 47                                                 44
 48                                                 47
 49                                                 47
 50                                                 49
 51                                                 50
 52                                                 51
 53                                                NaN
 54  Note: Rates shown are a percentage of the labo...  ,
                                                 State  \
 0                                       United States
 1                                                 NaN
 2                                              Hawaii
 3                                       New Hampshire
 4                                        South Dakota
 5                                            Colorado
 6                                            Nebraska
 7                                        North Dakota
 8                                             Vermont
 9                                                Utah
 10                                               Iowa
 11                                              Idaho
 12                                              Maine
 13                                          Minnesota
 14                                          Wisconsin
 15                                           Arkansas
 16                                             Kansas
 17                                      Massachusetts
 18                                           Virginia
 19                                           Maryland
 20                                            Montana
 21                                            Indiana
 22                                           Delaware
 23                                           Missouri
 24                                           Oklahoma
 25                                              Texas
 26                                             Oregon
 27                                          Tennessee
 28                                        Connecticut
 29                                            Florida
 30                                         New Jersey
 31                                           New York
 32                                     South Carolina
 33                                           Kentucky
 34                                           Michigan
 35                                               Ohio
 36                                     North Carolina
 37                                       Rhode Island
 38                                         Washington
 39                                       Pennsylvania
 40                                            Georgia
 41                                            Wyoming
 42                                            Arizona
 43                                         California
 44                                             Nevada
 45                                            Alabama
 46                                           Illinois
 47                                        Mississippi
 48                                          Louisiana
 49                                      West Virginia
 50                               District of Columbia
 51                                             Alaska
 52                                         New Mexico
 53  Note: Rates shown are a percentage of the labo...

                                              2016rate  \
 0                                                 4.9
 1                                                 NaN
 2                                                 2.9
 3                                                 2.9
 4                                                 3.0
 5                                                 3.1
 6                                                 3.1
 7                                                 3.1
 8                                                 3.1
 9                                                 3.3
 10                                                3.6
 11                                                3.7
 12                                                3.8
 13                                                3.9
 14                                                3.9
 15                                                4.0
 16                                                4.0
 17                                                4.0
 18                                                4.0
 19                                                4.3
 20                                                4.3
 21                                                4.4
 22                                                4.5
 23                                                4.5
 24                                                4.6
 25                                                4.6
 26                                                4.7
 27                                                4.7
 28                                                4.8
 29                                                4.9
 30                                                4.9
 31                                                4.9
 32                                                4.9
 33                                                5.0
 34                                                5.0
 35                                                5.0
 36                                                5.1
 37                                                5.2
 38                                                5.2
 39                                                5.3
 40                                                5.4
 41                                                5.4
 42                                                5.5
 43                                                5.5
 44                                                5.8
 45                                                5.9
 46                                                5.9
 47                                                5.9
 48                                                6.1
 49                                                6.1
 50                                                6.2
 51                                                6.6
 52                                                6.7
 53  Note: Rates shown are a percentage of the labo...

                                                  Rank
 0                                                 NaN
 1                                                 NaN
 2                                                   1
 3                                                   1
 4                                                   3
 5                                                   4
 6                                                   4
 7                                                   4
 8                                                   4
 9                                                   8
 10                                                  9
 11                                                 10
 12                                                 11
 13                                                 12
 14                                                 12
 15                                                 14
 16                                                 14
 17                                                 14
 18                                                 14
 19                                                 18
 20                                                 18
 21                                                 20
 22                                                 21
 23                                                 21
 24                                                 23
 25                                                 23
 26                                                 25
 27                                                 25
 28                                                 27
 29                                                 28
 30                                                 28
 31                                                 28
 32                                                 28
 33                                                 32
 34                                                 32
 35                                                 32
 36                                                 35
 37                                                 36
 38                                                 36
 39                                                 38
 40                                                 39
 41                                                 39
 42                                                 41
 43                                                 41
 44                                                 43
 45                                                 44
 46                                                 44
 47                                                 44
 48                                                 47
 49                                                 47
 50                                                 49
 51                                                 50
 52                                                 51
 53  Note: Rates shown are a percentage of the labo...  ]

In [17]:
unemp_2016_df = tables[0]
unemp_2016_df.head()

           State 2016rate Rank
0  United States      4.9  NaN
1            NaN      NaN  NaN
2         Hawaii      2.9    1
3  New Hampshire      2.9    1
4   South Dakota      3.0    3

### 7th Dataset: Unemployment Rate by State (2015)
Created CSV manually from PDF downloaded via US Bureau of Labor website

In [18]:
unemp_2015_csv = "raw_data/Unemployment by State_2015.csv"
unemp_2015_df = pd.read_csv(unemp_2015_csv)

In [19]:
unemp_2015_df.head()

,State,2015 Rate,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,United States,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# TRANSFORM

### 1st Dataset: Median Income by State (1984 - 2019)
 - Drop columns (standard error and all years prior to 2015)
 - Rename columns
 - Remove irrelevant rows by index
 - Reset index
 - Remove commas in median income values
 - Convert median income values from string to integer
 - Check for missing values

In [20]:
median_income_df.head()

,State,2019,Unnamed: 2,2018,Unnamed: 4,2017 (40),Unnamed: 6,2017,Unnamed: 8,2016,...,1988,Unnamed: 68,1987 (21),Unnamed: 70,1986,Unnamed: 72,1985 (20),Unnamed: 74,1984 (19),Unnamed: 76
0,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
1,United States,"68,703",550,"63,179",420,"61,136",322,"61,372",335,"59,039",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
2,Alabama,"56,200","2,512","49,936","2,423","50,865","1,094","51,113",845,"47,221",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
3,Alaska,"78,394","6,685","68,734","3,390","77,987","3,718","72,231","2,719","75,723",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
4,Arizona,"70,674","3,391","62,283","2,291","59,700","2,689","61,125","2,642","57,100",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609

***
<font color = blue>__Check column names__</font>

In [21]:
median_income_df.columns

Index(['State', '2019', 'Unnamed: 2', '2018', 'Unnamed: 4', '2017 (40)',
       'Unnamed: 6', '2017', 'Unnamed: 8', '2016', 'Unnamed: 10', '2015',
       'Unnamed: 12', '2014', 'Unnamed: 14', '2013 (39)', 'Unnamed: 16',
       '2013 (38)', 'Unnamed: 18', '2012', 'Unnamed: 20', '2011',
       'Unnamed: 22', '2010 (37)', 'Unnamed: 24', '2009 (36)', 'Unnamed: 26',
       '2008', 'Unnamed: 28', '2007', 'Unnamed: 30', '2006', 'Unnamed: 32',
       '2005', 'Unnamed: 34', '2004 (revised)', 'Unnamed: 36', '2003',
       'Unnamed: 38', '2002', 'Unnamed: 40', '2001', 'Unnamed: 42',
       '2000 (30)', 'Unnamed: 44', '1999 (29)', 'Unnamed: 46', '1998',
       'Unnamed: 48', '1997', 'Unnamed: 50', '1996', 'Unnamed: 52',
       '1995 (25)', 'Unnamed: 54', '1994 (24)', 'Unnamed: 56', '1993 (23)',
       'Unnamed: 58', '1992 (22)', 'Unnamed: 60', '1991', 'Unnamed: 62',
       '1990', 'Unnamed: 64', '1989', 'Unnamed: 66', '1988', 'Unnamed: 68',
       '1987 (21)', 'Unnamed: 70', '1986', 'Unnamed: 72', '1985 (20)',
       'Unnamed: 74', '1984 (19)', 'Unnamed: 76'],
      dtype='object')

***
<font color = blue>__Remove all standard error columns__</font>

In [22]:
median_income_df = median_income_df.drop(columns=["Unnamed: 2", "Unnamed: 4", "Unnamed: 6", "Unnamed: 8",\
                                                 "Unnamed: 10", "Unnamed: 12", "Unnamed: 14", "Unnamed: 16",\
                                                 "Unnamed: 18", "Unnamed: 20", "Unnamed: 22", "Unnamed: 24",\
                                                 "Unnamed: 26", "Unnamed: 28", "Unnamed: 30", "Unnamed: 32",\
                                                 "Unnamed: 34", "Unnamed: 36", "Unnamed: 38", "Unnamed: 40",\
                                                 "Unnamed: 42", "Unnamed: 44", "Unnamed: 46", "Unnamed: 48",\
                                                 "Unnamed: 50", "Unnamed: 52", "Unnamed: 54", "Unnamed: 56",\
                                                 "Unnamed: 58", "Unnamed: 60", "Unnamed: 62", "Unnamed: 64",\
                                                 "Unnamed: 66", "Unnamed: 68", "Unnamed: 70", "Unnamed: 72",\
                                                 "Unnamed: 74", "Unnamed: 76"])
median_income_df.head()

,State,2019,2018,2017 (40),2017,2016,2015,2014,2013 (39),2013 (38),...,1993 (23),1992 (22),1991,1990,1989,1988,1987 (21),1986,1985 (20),1984 (19)
0,NaN,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,...,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income
1,United States,"68,703","63,179","61,136","61,372","59,039","56,516","53,657","53,585","51,939",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
2,Alabama,"56,200","49,936","50,865","51,113","47,221","44,509","42,278","47,320","41,381",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
3,Alaska,"78,394","68,734","77,987","72,231","75,723","75,112","67,629","72,472","61,137",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
4,Arizona,"70,674","62,283","59,700","61,125","57,100","52,248","49,254","52,611","50,602",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"

***
<font color = blue>__View remaining column names__</font>

In [23]:
median_income_df.columns

Index(['State', '2019', '2018', '2017 (40)', '2017', '2016', '2015', '2014',
       '2013 (39)', '2013 (38)', '2012', '2011', '2010 (37)', '2009 (36)',
       '2008', '2007', '2006', '2005', '2004 (revised)', '2003', '2002',
       '2001', '2000 (30)', '1999 (29)', '1998', '1997', '1996', '1995 (25)',
       '1994 (24)', '1993 (23)', '1992 (22)', '1991', '1990', '1989', '1988',
       '1987 (21)', '1986', '1985 (20)', '1984 (19)'],
      dtype='object')

***
<font color = blue>__Drop all years prior to 2015__</font>

In [24]:
median_income_df = median_income_df.drop(columns=["1984 (19)", "1985 (20)", "1986", "1987 (21)", "1988",\
                                                 "1989", "1990", "1991", "1992 (22)", "1993 (23)", "1994 (24)",\
                                                 "1995 (25)", "1996", "1997", "1998", "1999 (29)", "2000 (30)",\
                                                 "2001", "2002", "2003", "2004 (revised)", "2005", "2006", "2007",\
                                                 "2008", "2009 (36)", "2010 (37)", "2011", "2012", "2013 (38)",\
                                                 "2013 (39)", "2014", "2017"])
median_income_df.head()

,State,2019,2018,2017 (40),2016,2015
0,NaN,Median income,Median income,Median income,Median income,Median income
1,United States,"68,703","63,179","61,136","59,039","56,516"
2,Alabama,"56,200","49,936","50,865","47,221","44,509"
3,Alaska,"78,394","68,734","77,987","75,723","75,112"
4,Arizona,"70,674","62,283","59,700","57,100","52,248"

***
<font color = blue>__Rename columns. Med. Income = Median Income__</font>

In [25]:
median_income_df = median_income_df.rename(columns = {"2019": "2019 Med. Income", "2018": "2018 Med. Income",\
                                                      "2017 (40)": "2017 Med. Income", "2016": "2016 Med. Income",\
                                                      "2015": "2015 Med. Income"})
median_income_df.head()

,State,2019 Med. Income,2018 Med. Income,2017 Med. Income,2016 Med. Income,2015 Med. Income
0,NaN,Median income,Median income,Median income,Median income,Median income
1,United States,"68,703","63,179","61,136","59,039","56,516"
2,Alabama,"56,200","49,936","50,865","47,221","44,509"
3,Alaska,"78,394","68,734","77,987","75,723","75,112"
4,Arizona,"70,674","62,283","59,700","57,100","52,248"

***
<font color = blue>__Remove first 2 rows__</font>

In [26]:
median_income_df = median_income_df.drop([0, 1])
median_income_df.head()

,State,2019 Med. Income,2018 Med. Income,2017 Med. Income,2016 Med. Income,2015 Med. Income
2,Alabama,"56,200","49,936","50,865","47,221","44,509"
3,Alaska,"78,394","68,734","77,987","75,723","75,112"
4,Arizona,"70,674","62,283","59,700","57,100","52,248"
5,Arkansas,"54,539","49,781","49,751","45,907","42,798"
6,California,"78,105","70,489","70,038","66,637","63,636"

***
<font color = blue>__Reset index & drop index__</font>

In [27]:
median_income_df = median_income_df.reset_index(drop=True)
median_income_df

,State,2019 Med. Income,2018 Med. Income,2017 Med. Income,2016 Med. Income,2015 Med. Income
0,Alabama,"56,200","49,936","50,865","47,221","44,509"
1,Alaska,"78,394","68,734","77,987","75,723","75,112"
2,Arizona,"70,674","62,283","59,700","57,100","52,248"
3,Arkansas,"54,539","49,781","49,751","45,907","42,798"
4,California,"78,105","70,489","70,038","66,637","63,636"
5,Colorado,"72,499","73,034","74,984","70,566","66,596"
6,Connecticut,"87,291","72,812","74,304","75,923","72,889"
7,Delaware,"74,194","65,012","64,961","58,046","57,756"
8,District of Columbia,"93,111","85,750","81,282","70,982","70,071"
9,Florida,"58,368","54,644","53,086","51,176","48,825"
10,Georgia,"56,628","55,821","57,985","53,527","50,768"
11,Hawaii,"88,006","80,108","73,599","72,133","64,514"
12,Idaho,"65,988","58,728","59,497","56,564","51,624"
13,Illinois,"74,399","70,145","65,969","61,386","60,413"
14,Indiana,"66,693","59,892","58,767","56,094","51,983"
15,Iowa,"66,054","68,718","63,467","59,094","60,855"
16,Kansas,"73,151","63,938","56,900","56,810","54,865"
17,Kentucky,"55,662","54,555","49,672","45,369","42,387"
18,Louisiana,"51,707","49,973","43,565","42,196","45,922"
19,Maine,"66,546","58,663","53,316","50,856","50,756"
20,Maryland,"95,572","86,223","82,093","73,760","73,594"
21,Massachusetts,"87,707","86,345","76,243","72,266","67,861"
22,Michigan,"64,119","60,449","56,405","57,091","54,203"
23,Minnesota,"81,426","71,817","69,975","70,218","68,730"
24,Mississippi,"44,787","42,781","43,281","41,099","40,037"
25,Missouri,"60,597","61,726","56,530","55,016","59,196"
26,Montana,"60,195","57,679","57,407","57,075","51,395"
27,Nebraska,"73,071","67,575","59,583","59,374","60,474"
28,Nevada,"70,906","61,864","58,041","55,431","52,008"
29,New Hampshire,"86,900","81,346","75,630","76,260","75,675"
30,New Jersey,"87,726","74,176","71,240","68,468","68,357"
31,New Mexico,"53,113","48,283","45,601","48,451","45,119"
32,New York,"71,855","67,274","61,543","61,437","58,005"
33,North Carolina,"61,159","53,369","49,547","53,764","50,797"
34,North Dakota,"70,031","66,505","60,167","60,184","57,415"
35,Ohio,"64,663","61,633","60,688","53,985","53,301"
36,Oklahoma,"59,397","54,434","51,882","50,943","47,077"
37,Oregon,"74,413","69,165","62,498","59,135","60,834"
38,Pennsylvania,"70,582","64,524","61,285","60,979","60,389"
39,Rhode Island,"70,151","62,266","65,401","61,528","55,701"
40,South Carolina,"62,028","57,444","54,537","54,336","46,360"
41,South Dakota,"64,255","59,463","56,914","57,450","55,065"
42,Tennessee,"56,627","56,060","55,306","51,344","47,330"
43,Texas,"67,444","59,785","60,092","58,146","56,473"
44,Utah,"84,523","77,067","69,789","67,481","66,258"
45,Vermont,"74,305","70,066","63,682","60,837","59,494"
46,Virginia,"81,313","77,151","70,811","66,451","61,486"
47,Washington,"82,454","79,726","71,540","70,310","67,243"
48,West Virginia,"53,706","50,573","46,957","44,354","42,824"
49,Wisconsin,"67,355","62,629","63,482","59,817","55,425"
50,Wyoming,"65,134","62,539","59,536","57,829","60,925"

***
<font color = blue>__View dataframe's datatypes__</font>

In [28]:
median_income_df.dtypes

State               object
2019 Med. Income    object
2018 Med. Income    object
2017 Med. Income    object
2016 Med. Income    object
2015 Med. Income    object
dtype: object

***
<font color = blue>__Remove commas from median income values__</font>

In [29]:
median_income_df = median_income_df.replace(',','', regex= True)
median_income_df.head()

,State,2019 Med. Income,2018 Med. Income,2017 Med. Income,2016 Med. Income,2015 Med. Income
0,Alabama,56200,49936,50865,47221,44509
1,Alaska,78394,68734,77987,75723,75112
2,Arizona,70674,62283,59700,57100,52248
3,Arkansas,54539,49781,49751,45907,42798
4,California,78105,70489,70038,66637,63636

***
<font color = blue>__Convert median income values (strings) to integers__</font>

In [30]:
median_income_df[['2019 Med. Income', '2018 Med. Income', '2017 Med. Income', '2016 Med. Income', '2015 Med. Income']]\
= median_income_df[['2019 Med. Income', '2018 Med. Income', '2017 Med. Income', '2016 Med. Income', '2015 Med. Income']].apply(pd.to_numeric)

print(median_income_df.dtypes)

State               object
2019 Med. Income     int64
2018 Med. Income     int64
2017 Med. Income     int64
2016 Med. Income     int64
2015 Med. Income     int64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [31]:
median_income_df.isna().sum()

State               0
2019 Med. Income    0
2018 Med. Income    0
2017 Med. Income    0
2016 Med. Income    0
2015 Med. Income    0
dtype: int64

### 2nd Dataset: Population by State (2010 - 2019)
 - Drop columns (all years prior to 2015)
 - Rename columns
 - Reorder columns
 - Remove irrelevant rows by index
 - Remove . in state column
 - Reset index
 - Remove commas in population figures
 - Convert population figures from string to integer
 - Check for missing values

In [32]:
population_df.head()

,Geographic Area,"April 1, 2010",Unnamed: 2,Population Estimate (as of July 1),Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
2,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
3,Midwest,"66,927,001","66,929,725","66,974,416","67,157,800","67,336,743","67,560,379","67,745,167","67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
4,South,"114,555,744","114,563,030","114,866,680","116,006,522","117,241,208","118,364,400","119,624,037","120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"

***
<font color = blue>__Check column names__</font>

In [33]:
population_df.columns

Index(['Geographic Area', 'April 1, 2010', 'Unnamed: 2',
       'Population Estimate (as of July 1)', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

***
<font color = blue>__Remove columns prior to 2015__</font>

In [34]:
population_df = population_df.drop(columns=["April 1, 2010", "Unnamed: 2", "Population Estimate (as of July 1)",\
                                            "Unnamed: 4", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7"])
population_df.head()

,Geographic Area,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,2015,2016,2017,2018,2019
1,United States,"320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
2,Northeast,"56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
3,Midwest,"67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
4,South,"120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"

***
<font color = blue>__Rename columns__</font>

In [35]:
population_df = population_df.rename(columns = {"Geographic Area": "State", "Unnamed: 8": "2015 Population",\
                                                "Unnamed: 9": "2016 Population", "Unnamed: 10": "2017 Population",\
                                                "Unnamed: 11": "2018 Population", "Unnamed: 12": "2019 Population"})
population_df.head()

,State,2015 Population,2016 Population,2017 Population,2018 Population,2019 Population
0,NaN,2015,2016,2017,2018,2019
1,United States,"320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
2,Northeast,"56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
3,Midwest,"67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
4,South,"120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"

***
<font color = blue>__Reorder columns__</font>

In [36]:
population_df = population_df[['State', '2019 Population', '2018 Population', '2017 Population', '2016 Population', '2015 Population']]
population_df

,State,2019 Population,2018 Population,2017 Population,2016 Population,2015 Population
0,NaN,2019,2018,2017,2016,2015
1,United States,"328,239,523","326,687,501","324,985,539","322,941,311","320,635,163"
2,Northeast,"55,982,803","56,046,620","56,059,240","56,042,330","56,034,684"
3,Midwest,"68,329,004","68,236,628","68,126,781","67,987,540","67,860,583"
4,South,"125,580,448","124,569,433","123,542,189","122,351,760","120,997,341"
5,West,"78,347,268","77,834,820","77,257,329","76,559,681","75,742,555"
6,.Alabama,"4,903,185","4,887,681","4,874,486","4,863,525","4,852,347"
7,.Alaska,"731,545","735,139","739,700","741,456","737,498"
8,.Arizona,"7,278,717","7,158,024","7,044,008","6,941,072","6,829,676"
9,.Arkansas,"3,017,804","3,009,733","3,001,345","2,989,918","2,978,048"
10,.California,"39,512,223","39,461,588","39,358,497","39,167,117","38,918,045"
11,.Colorado,"5,758,736","5,691,287","5,611,885","5,539,215","5,450,623"
12,.Connecticut,"3,565,287","3,571,520","3,573,297","3,578,141","3,587,122"
13,.Delaware,"973,764","965,479","956,823","948,921","941,252"
14,.District of Columbia,"705,749","701,547","694,906","685,815","675,400"
15,.Florida,"21,477,737","21,244,317","20,963,613","20,613,477","20,209,042"
16,.Georgia,"10,617,423","10,511,131","10,410,330","10,301,890","10,178,447"
17,.Hawaii,"1,415,872","1,420,593","1,424,393","1,427,559","1,422,052"
18,.Idaho,"1,787,065","1,750,536","1,717,715","1,682,380","1,651,059"
19,.Illinois,"12,671,821","12,723,071","12,778,828","12,820,527","12,858,913"
20,.Indiana,"6,732,219","6,695,497","6,658,078","6,634,304","6,608,422"
21,.Iowa,"3,155,070","3,148,618","3,141,550","3,131,371","3,120,960"
22,.Kansas,"2,913,314","2,911,359","2,908,718","2,910,844","2,909,011"
23,.Kentucky,"4,467,673","4,461,153","4,452,268","4,438,182","4,425,976"
24,.Louisiana,"4,648,794","4,659,690","4,670,560","4,678,135","4,664,628"
25,.Maine,"1,344,212","1,339,057","1,334,612","1,331,317","1,328,262"
26,.Maryland,"6,045,680","6,035,802","6,023,868","6,003,323","5,985,562"
27,.Massachusetts,"6,892,503","6,882,635","6,859,789","6,823,608","6,794,228"
28,.Michigan,"9,986,857","9,984,072","9,973,114","9,950,571","9,931,715"
29,.Minnesota,"5,639,632","5,606,249","5,566,230","5,522,744","5,482,032"
30,.Mississippi,"2,976,149","2,981,020","2,988,510","2,987,938","2,988,471"
31,.Missouri,"6,137,428","6,121,623","6,106,670","6,087,135","6,071,732"
32,.Montana,"1,068,778","1,060,665","1,052,482","1,040,859","1,030,475"
33,.Nebraska,"1,934,408","1,925,614","1,915,947","1,905,616","1,891,277"
34,.Nevada,"3,080,156","3,027,341","2,969,905","2,917,563","2,866,939"
35,.New Hampshire,"1,359,711","1,353,465","1,348,787","1,342,307","1,336,350"
36,.New Jersey,"8,882,190","8,886,025","8,885,525","8,870,827","8,867,949"
37,.New Mexico,"2,096,829","2,092,741","2,091,784","2,091,630","2,089,291"
38,.New York,"19,453,561","19,530,351","19,589,572","19,633,428","19,654,666"
39,.North Carolina,"10,488,084","10,381,615","10,268,233","10,154,788","10,031,646"
40,.North Dakota,"762,062","758,080","754,942","754,434","754,066"
41,.Ohio,"11,689,100","11,676,341","11,659,650","11,634,370","11,617,527"
42,.Oklahoma,"3,956,971","3,940,235","3,931,316","3,926,331","3,909,500"
43,.Oregon,"4,217,737","4,181,886","4,143,625","4,089,976","4,015,792"
44,.Pennsylvania,"12,801,989","12,800,922","12,787,641","12,782,275","12,784,826"
45,.Rhode Island,"1,059,361","1,058,287","1,055,673","1,056,770","1,056,065"
46,.South Carolina,"5,148,714","5,084,156","5,021,268","4,957,968","4,891,938"
47,.South Dakota,"884,659","878,698","872,868","862,996","853,988"
48,.Tennessee,"6,829,174","6,771,631","6,708,799","6,646,010","6,591,170"
49,.Texas,"28,995,881","28,628,666","28,295,273","27,914,410","27,470,056"
50,.Utah,"3,205,958","3,153,550","3,101,042","3,041,868","2,981,835"
51,.Vermont,"623,989","624,358","624,344","623,657","625,216"
52,.Virginia,"8,535,519","8,501,286","8,463,587","8,410,106","8,361,808"
53,.Washington,"7,614,893","7,523,869","7,423,362","7,294,771","7,163,657"
54,.West Virginia,"1,792,147","1,804,291","1,817,004","1,831,023","1,842,050"
55,.Wisconsin,"5,822,434","5,807,406","5,790,186","5,772,628","5,760,940"
56,.Wyoming,"578,759","577,601","578,931","584,215","585,613"

***
<font color = blue>__Drop irrelevant rows (first 6 rows)__</font>

In [37]:
population_df = population_df.drop([0, 1, 2, 3, 4, 5])
population_df.head(10)

,State,2019 Population,2018 Population,2017 Population,2016 Population,2015 Population
6,.Alabama,"4,903,185","4,887,681","4,874,486","4,863,525","4,852,347"
7,.Alaska,"731,545","735,139","739,700","741,456","737,498"
8,.Arizona,"7,278,717","7,158,024","7,044,008","6,941,072","6,829,676"
9,.Arkansas,"3,017,804","3,009,733","3,001,345","2,989,918","2,978,048"
10,.California,"39,512,223","39,461,588","39,358,497","39,167,117","38,918,045"
11,.Colorado,"5,758,736","5,691,287","5,611,885","5,539,215","5,450,623"
12,.Connecticut,"3,565,287","3,571,520","3,573,297","3,578,141","3,587,122"
13,.Delaware,"973,764","965,479","956,823","948,921","941,252"
14,.District of Columbia,"705,749","701,547","694,906","685,815","675,400"
15,.Florida,"21,477,737","21,244,317","20,963,613","20,613,477","20,209,042"

***
<font color = blue>__Remove . in front of state names__</font>

In [38]:
population_df['State'] = population_df['State'].str.replace('.','')
population_df.head()

,State,2019 Population,2018 Population,2017 Population,2016 Population,2015 Population
6,Alabama,"4,903,185","4,887,681","4,874,486","4,863,525","4,852,347"
7,Alaska,"731,545","735,139","739,700","741,456","737,498"
8,Arizona,"7,278,717","7,158,024","7,044,008","6,941,072","6,829,676"
9,Arkansas,"3,017,804","3,009,733","3,001,345","2,989,918","2,978,048"
10,California,"39,512,223","39,461,588","39,358,497","39,167,117","38,918,045"

***
<font color = blue>__Reset index & drop index__</font>

In [39]:
population_df = population_df.reset_index(drop=True)
population_df.head()

,State,2019 Population,2018 Population,2017 Population,2016 Population,2015 Population
0,Alabama,"4,903,185","4,887,681","4,874,486","4,863,525","4,852,347"
1,Alaska,"731,545","735,139","739,700","741,456","737,498"
2,Arizona,"7,278,717","7,158,024","7,044,008","6,941,072","6,829,676"
3,Arkansas,"3,017,804","3,009,733","3,001,345","2,989,918","2,978,048"
4,California,"39,512,223","39,461,588","39,358,497","39,167,117","38,918,045"

***
<font color = blue>__View dataframe's datatypes__</font>

In [40]:
population_df.dtypes

State              object
2019 Population    object
2018 Population    object
2017 Population    object
2016 Population    object
2015 Population    object
dtype: object

***
<font color = blue>__Remove commas from population figures__</font>

In [41]:
population_df = population_df.replace(',','', regex= True)
population_df.head()

,State,2019 Population,2018 Population,2017 Population,2016 Population,2015 Population
0,Alabama,4903185,4887681,4874486,4863525,4852347
1,Alaska,731545,735139,739700,741456,737498
2,Arizona,7278717,7158024,7044008,6941072,6829676
3,Arkansas,3017804,3009733,3001345,2989918,2978048
4,California,39512223,39461588,39358497,39167117,38918045

***
<font color = blue>__Convert population figures from strings to integers__</font>

In [42]:
population_df[['2019 Population', '2018 Population', '2017 Population', '2016 Population', '2015 Population']] = \
population_df[['2019 Population', '2018 Population', '2017 Population', '2016 Population', '2015 Population']].apply(pd.to_numeric)

print(population_df.dtypes)

State              object
2019 Population     int64
2018 Population     int64
2017 Population     int64
2016 Population     int64
2015 Population     int64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [43]:
population_df.isna().sum()

State              0
2019 Population    0
2018 Population    0
2017 Population    0
2016 Population    0
2015 Population    0
dtype: int64

### 3rd Dataset: Unemployment Rate by State (2019)
 - Drop Rank column
 - Rename columns
 - Sort by State
 - Remove irrelevant rows by index
 - Reset index
 - Convert unemployment rates from string to integer
 - Check for missing values

In [44]:
unemp_2019_df.head()

           State 2019rate Rank
0  United States      3.7  NaN
1            NaN      NaN  NaN
2   North Dakota      2.3    1
3        Vermont      2.3    1
4         Hawaii      2.5    3

***
<font color = blue>__Drop "Rank" column__</font>

In [45]:
unemp_2019_df = unemp_2019_df.drop(columns=["Rank"])
unemp_2019_df.head()

           State 2019rate
0  United States      3.7
1            NaN      NaN
2   North Dakota      2.3
3        Vermont      2.3
4         Hawaii      2.5

***
<font color = blue>__Rename columns. Unemp. Rate = Unemployment Rate__</font>

In [46]:
unemp_2019_df = unemp_2019_df.rename(columns = {"2019rate": "2019 Unemp. Rate (%)"})
unemp_2019_df.head()

           State 2019 Unemp. Rate (%)
0  United States                  3.7
1            NaN                  NaN
2   North Dakota                  2.3
3        Vermont                  2.3
4         Hawaii                  2.5

***
<font color = blue>__Sort values by State__</font>

In [47]:
unemp_2019_df = unemp_2019_df.sort_values(by = 'State')
unemp_2019_df

,State,2019 Unemp. Rate (%)
13,Alabama,3.0
50,Alaska,5.4
47,Arizona,4.9
26,Arkansas,3.5
53,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,Unemployment Rates for States Unemployment Rat...
43,California,4.2
7,Colorado,2.7
30,Connecticut,3.6
33,Delaware,3.7
51,District of Columbia,5.4
21,Florida,3.3
27,Georgia,3.5
4,Hawaii,2.5
10,Idaho,2.8
39,Illinois,4.0
18,Indiana,3.2
11,Iowa,2.8
19,Kansas,3.2
40,Kentucky,4.1
46,Louisiana,4.7
8,Maine,2.7
28,Maryland,3.5
14,Massachusetts,3.0
41,Michigan,4.1
20,Minnesota,3.2
52,Mississippi,5.5
22,Missouri,3.3
31,Montana,3.6
15,Nebraska,3.0
38,Nevada,3.9
6,New Hampshire,2.6
24,New Jersey,3.4
49,New Mexico,5.0
36,New York,3.8
37,North Carolina,3.8
2,North Dakota,2.3
54,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...
44,Ohio,4.2
17,Oklahoma,3.1
34,Oregon,3.7
45,Pennsylvania,4.5
32,Rhode Island,3.6
12,South Carolina,2.8
16,South Dakota,3.0
25,Tennessee,3.4
29,Texas,3.5
0,United States,3.7
5,Utah,2.5
3,Vermont,2.3
9,Virginia,2.7
42,Washington,4.1
48,West Virginia,4.9
23,Wisconsin,3.3
35,Wyoming,3.7
1,NaN,NaN

***
<font color = blue>__Drop irrelevant rows by index__</font>

In [48]:
unemp_2019_df = unemp_2019_df.drop([53, 54, 1, 0])
unemp_2019_df.head()

         State 2019 Unemp. Rate (%)
13     Alabama                  3.0
50      Alaska                  5.4
47     Arizona                  4.9
26    Arkansas                  3.5
43  California                  4.2

***
<font color = blue>__Reset index & drop index__</font>

In [49]:
unemp_2019_df = unemp_2019_df.reset_index(drop=True)
unemp_2019_df

                   State 2019 Unemp. Rate (%)
0                Alabama                  3.0
1                 Alaska                  5.4
2                Arizona                  4.9
3               Arkansas                  3.5
4             California                  4.2
5               Colorado                  2.7
6            Connecticut                  3.6
7               Delaware                  3.7
8   District of Columbia                  5.4
9                Florida                  3.3
10               Georgia                  3.5
11                Hawaii                  2.5
12                 Idaho                  2.8
13              Illinois                  4.0
14               Indiana                  3.2
15                  Iowa                  2.8
16                Kansas                  3.2
17              Kentucky                  4.1
18             Louisiana                  4.7
19                 Maine                  2.7
20              Maryland                  3.5
21         Massachusetts                  3.0
22              Michigan                  4.1
23             Minnesota                  3.2
24           Mississippi                  5.5
25              Missouri                  3.3
26               Montana                  3.6
27              Nebraska                  3.0
28                Nevada                  3.9
29         New Hampshire                  2.6
30            New Jersey                  3.4
31            New Mexico                  5.0
32              New York                  3.8
33        North Carolina                  3.8
34          North Dakota                  2.3
35                  Ohio                  4.2
36              Oklahoma                  3.1
37                Oregon                  3.7
38          Pennsylvania                  4.5
39          Rhode Island                  3.6
40        South Carolina                  2.8
41          South Dakota                  3.0
42             Tennessee                  3.4
43                 Texas                  3.5
44                  Utah                  2.5
45               Vermont                  2.3
46              Virginia                  2.7
47            Washington                  4.1
48         West Virginia                  4.9
49             Wisconsin                  3.3
50               Wyoming                  3.7

***
<font color = blue>__View dataframe's datatypes__</font>

In [50]:
unemp_2019_df.dtypes

State                   object
2019 Unemp. Rate (%)    object
dtype: object

***
<font color = blue>__Convert unemployment rates from string to float__</font>

In [51]:
unemp_2019_df['2019 Unemp. Rate (%)'] = pd.to_numeric(unemp_2019_df['2019 Unemp. Rate (%)'])
print(unemp_2019_df.dtypes)

State                    object
2019 Unemp. Rate (%)    float64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [52]:
unemp_2019_df.isna().sum()

State                   0
2019 Unemp. Rate (%)    0
dtype: int64

### 4th Dataset: Unemployment Rate by State (2018)
 - Drop Rank column
 - Rename columns
 - Sort by State
 - Remove irrelevant rows by index
 - Reset index
 - Convert unemployment rates from string to integer
 - Check for missing values

In [53]:
unemp_2018_df.head()

           State 2018rate Rank
0  United States      3.9  NaN
1            NaN      NaN  NaN
2         Hawaii      2.4    1
3   North Dakota      2.5    2
4           Iowa      2.6    3

***
<font color = blue>__Drop "Rank" column__</font>

In [54]:
unemp_2018_df = unemp_2018_df.drop(columns=["Rank"])
unemp_2018_df.head()

           State 2018rate
0  United States      3.9
1            NaN      NaN
2         Hawaii      2.4
3   North Dakota      2.5
4           Iowa      2.6

***
<font color = blue>__Rename columns. Unemp. Rate = Unemployment Rate__</font>

In [55]:
unemp_2018_df = unemp_2018_df.rename(columns = {"2018rate": "2018 Unemp. Rate (%)"})
unemp_2018_df.head()

           State 2018 Unemp. Rate (%)
0  United States                  3.9
1            NaN                  NaN
2         Hawaii                  2.4
3   North Dakota                  2.5
4           Iowa                  2.6

***
<font color = blue>__Sort values by State__</font>

In [56]:
unemp_2018_df = unemp_2018_df.sort_values(by = 'State')
unemp_2018_df

,State,2018 Unemp. Rate (%)
28,Alabama,3.9
52,Alaska,5.9
46,Arizona,4.8
24,Arkansas,3.7
53,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,Unemployment Rates for States Unemployment Rat...
40,California,4.3
12,Colorado,3.0
29,Connecticut,3.9
25,Delaware,3.7
51,District of Columbia,5.7
23,Florida,3.6
31,Georgia,4.0
2,Hawaii,2.4
7,Idaho,2.8
41,Illinois,4.4
19,Indiana,3.4
4,Iowa,2.6
17,Kansas,3.3
38,Kentucky,4.2
47,Louisiana,4.8
15,Maine,3.1
26,Maryland,3.8
20,Massachusetts,3.4
39,Michigan,4.2
13,Minnesota,3.0
49,Mississippi,5.0
16,Missouri,3.2
27,Montana,3.8
8,Nebraska,2.9
42,Nevada,4.4
5,New Hampshire,2.6
32,New Jersey,4.0
48,New Mexico,4.9
36,New York,4.1
33,North Carolina,4.0
3,North Dakota,2.5
54,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...
45,Ohio,4.5
18,Oklahoma,3.3
34,Oregon,4.0
43,Pennsylvania,4.4
37,Rhode Island,4.1
21,South Carolina,3.4
9,South Dakota,2.9
22,Tennessee,3.5
30,Texas,3.9
0,United States,3.9
10,Utah,2.9
6,Vermont,2.6
11,Virginia,2.9
44,Washington,4.4
50,West Virginia,5.2
14,Wisconsin,3.0
35,Wyoming,4.0
1,NaN,NaN

***
<font color = blue>__Drop irrelevant rows by index__</font>

In [57]:
unemp_2018_df = unemp_2018_df.drop([53, 54, 1, 0])
unemp_2018_df.head()

         State 2018 Unemp. Rate (%)
28     Alabama                  3.9
52      Alaska                  5.9
46     Arizona                  4.8
24    Arkansas                  3.7
40  California                  4.3

***
<font color = blue>__Reset index & drop index__</font>

In [58]:
unemp_2018_df = unemp_2018_df.reset_index(drop=True)
unemp_2018_df

                   State 2018 Unemp. Rate (%)
0                Alabama                  3.9
1                 Alaska                  5.9
2                Arizona                  4.8
3               Arkansas                  3.7
4             California                  4.3
5               Colorado                  3.0
6            Connecticut                  3.9
7               Delaware                  3.7
8   District of Columbia                  5.7
9                Florida                  3.6
10               Georgia                  4.0
11                Hawaii                  2.4
12                 Idaho                  2.8
13              Illinois                  4.4
14               Indiana                  3.4
15                  Iowa                  2.6
16                Kansas                  3.3
17              Kentucky                  4.2
18             Louisiana                  4.8
19                 Maine                  3.1
20              Maryland                  3.8
21         Massachusetts                  3.4
22              Michigan                  4.2
23             Minnesota                  3.0
24           Mississippi                  5.0
25              Missouri                  3.2
26               Montana                  3.8
27              Nebraska                  2.9
28                Nevada                  4.4
29         New Hampshire                  2.6
30            New Jersey                  4.0
31            New Mexico                  4.9
32              New York                  4.1
33        North Carolina                  4.0
34          North Dakota                  2.5
35                  Ohio                  4.5
36              Oklahoma                  3.3
37                Oregon                  4.0
38          Pennsylvania                  4.4
39          Rhode Island                  4.1
40        South Carolina                  3.4
41          South Dakota                  2.9
42             Tennessee                  3.5
43                 Texas                  3.9
44                  Utah                  2.9
45               Vermont                  2.6
46              Virginia                  2.9
47            Washington                  4.4
48         West Virginia                  5.2
49             Wisconsin                  3.0
50               Wyoming                  4.0

***
<font color = blue>__View dataframe's datatypes__</font>

In [59]:
unemp_2018_df.dtypes

State                   object
2018 Unemp. Rate (%)    object
dtype: object

***
<font color = blue>__Convert unemployment rates from string to float__</font>

In [60]:
unemp_2018_df['2018 Unemp. Rate (%)'] = pd.to_numeric(unemp_2018_df['2018 Unemp. Rate (%)'])
print(unemp_2018_df.dtypes)

State                    object
2018 Unemp. Rate (%)    float64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [61]:
unemp_2018_df.isna().sum()

State                   0
2018 Unemp. Rate (%)    0
dtype: int64

### 5th Dataset: Unemployment Rate by State (2017)
 - Drop Rank column
 - Rename columns
 - Sort by State
 - Remove irrelevant rows by index
 - Reset index
 - Convert unemployment rates from string to integer
 - Check for missing values

In [62]:
unemp_2017_df.head()

           State 2017rate Rank
0  United States      4.4  NaN
1            NaN      NaN  NaN
2         Hawaii      2.2    1
3       Colorado      2.6    2
4   North Dakota      2.7    3

***
<font color = blue>__Drop "Rank" column__</font>

In [63]:
unemp_2017_df = unemp_2017_df.drop(columns=["Rank"])
unemp_2017_df.head()

           State 2017rate
0  United States      4.4
1            NaN      NaN
2         Hawaii      2.2
3       Colorado      2.6
4   North Dakota      2.7

***
<font color = blue>__Rename columns. Unemp. Rate = Unemployment Rate__</font>

In [64]:
unemp_2017_df = unemp_2017_df.rename(columns = {"2017rate": "2017 Unemp. Rate (%)"})
unemp_2017_df.head()

           State 2017 Unemp. Rate (%)
0  United States                  4.4
1            NaN                  NaN
2         Hawaii                  2.2
3       Colorado                  2.6
4   North Dakota                  2.7

***
<font color = blue>__Sort values by State__</font>

In [65]:
unemp_2017_df = unemp_2017_df.sort_values(by = 'State')
unemp_2017_df

,State,2017 Unemp. Rate (%)
35,Alabama,4.6
52,Alaska,6.5
42,Arizona,4.9
17,Arkansas,3.7
53,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,Unemployment Rates for States Unemployment Rat...
39,California,4.8
3,Colorado,2.6
30,Connecticut,4.4
31,Delaware,4.4
50,District of Columbia,6.1
26,Florida,4.2
40,Georgia,4.8
2,Hawaii,2.2
11,Idaho,3.2
43,Illinois,5.0
15,Indiana,3.5
8,Iowa,3.1
16,Kansas,3.6
41,Kentucky,4.8
47,Louisiana,5.1
13,Maine,3.4
23,Maryland,4.1
20,Massachusetts,3.8
36,Michigan,4.6
14,Minnesota,3.4
48,Mississippi,5.2
21,Missouri,3.8
24,Montana,4.1
6,Nebraska,2.9
44,Nevada,5.0
5,New Hampshire,2.8
32,New Jersey,4.5
51,New Mexico,6.1
37,New York,4.6
33,North Carolina,4.5
4,North Dakota,2.7
54,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...
45,Ohio,5.0
22,Oklahoma,4.0
25,Oregon,4.1
46,Pennsylvania,5.0
34,Rhode Island,4.5
27,South Carolina,4.2
9,South Dakota,3.1
18,Tennessee,3.7
28,Texas,4.3
0,United States,4.4
10,Utah,3.1
7,Vermont,3.0
19,Virginia,3.7
38,Washington,4.6
49,West Virginia,5.2
12,Wisconsin,3.3
29,Wyoming,4.3
1,NaN,NaN

***
<font color = blue>__Drop irrelevant rows by index__</font>

In [66]:
unemp_2017_df = unemp_2017_df.drop([53, 54, 1, 0])
unemp_2017_df.head()

         State 2017 Unemp. Rate (%)
35     Alabama                  4.6
52      Alaska                  6.5
42     Arizona                  4.9
17    Arkansas                  3.7
39  California                  4.8

***
<font color = blue>__Reset index & drop index__</font>

In [67]:
unemp_2017_df = unemp_2017_df.reset_index(drop=True)
unemp_2017_df

                   State 2017 Unemp. Rate (%)
0                Alabama                  4.6
1                 Alaska                  6.5
2                Arizona                  4.9
3               Arkansas                  3.7
4             California                  4.8
5               Colorado                  2.6
6            Connecticut                  4.4
7               Delaware                  4.4
8   District of Columbia                  6.1
9                Florida                  4.2
10               Georgia                  4.8
11                Hawaii                  2.2
12                 Idaho                  3.2
13              Illinois                  5.0
14               Indiana                  3.5
15                  Iowa                  3.1
16                Kansas                  3.6
17              Kentucky                  4.8
18             Louisiana                  5.1
19                 Maine                  3.4
20              Maryland                  4.1
21         Massachusetts                  3.8
22              Michigan                  4.6
23             Minnesota                  3.4
24           Mississippi                  5.2
25              Missouri                  3.8
26               Montana                  4.1
27              Nebraska                  2.9
28                Nevada                  5.0
29         New Hampshire                  2.8
30            New Jersey                  4.5
31            New Mexico                  6.1
32              New York                  4.6
33        North Carolina                  4.5
34          North Dakota                  2.7
35                  Ohio                  5.0
36              Oklahoma                  4.0
37                Oregon                  4.1
38          Pennsylvania                  5.0
39          Rhode Island                  4.5
40        South Carolina                  4.2
41          South Dakota                  3.1
42             Tennessee                  3.7
43                 Texas                  4.3
44                  Utah                  3.1
45               Vermont                  3.0
46              Virginia                  3.7
47            Washington                  4.6
48         West Virginia                  5.2
49             Wisconsin                  3.3
50               Wyoming                  4.3

***
<font color = blue>__View dataframe's datatypes__</font>

In [68]:
unemp_2017_df.dtypes

State                   object
2017 Unemp. Rate (%)    object
dtype: object

***
<font color = blue>__Convert unemployment rates from string to float__</font>

In [69]:
unemp_2017_df['2017 Unemp. Rate (%)'] = pd.to_numeric(unemp_2017_df['2017 Unemp. Rate (%)'])
print(unemp_2017_df.dtypes)

State                    object
2017 Unemp. Rate (%)    float64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [70]:
unemp_2017_df.isna().sum()

State                   0
2017 Unemp. Rate (%)    0
dtype: int64

### 6th Dataset: Unemployment Rate by State (2017)
 - Drop Rank column
 - Rename columns
 - Sort by State
 - Remove irrelevant rows by index
 - Reset index
 - Convert unemployment rates from string to integer
 - Check for missing values

In [71]:
unemp_2016_df.head()

           State 2016rate Rank
0  United States      4.9  NaN
1            NaN      NaN  NaN
2         Hawaii      2.9    1
3  New Hampshire      2.9    1
4   South Dakota      3.0    3

***
<font color = blue>__Drop "Rank" column__</font>

In [72]:
unemp_2016_df = unemp_2016_df.drop(columns=["Rank"])
unemp_2016_df.head()

           State 2016rate
0  United States      4.9
1            NaN      NaN
2         Hawaii      2.9
3  New Hampshire      2.9
4   South Dakota      3.0

***
<font color = blue>__Rename columns. Unemp. Rate = Unemployment Rate__</font>

In [73]:
unemp_2016_df = unemp_2016_df.rename(columns = {"2016rate": "2016 Unemp. Rate (%)"})
unemp_2016_df.head()

           State 2016 Unemp. Rate (%)
0  United States                  4.9
1            NaN                  NaN
2         Hawaii                  2.9
3  New Hampshire                  2.9
4   South Dakota                  3.0

***
<font color = blue>__Sort values by State__</font>

In [74]:
unemp_2016_df = unemp_2016_df.sort_values(by = 'State')
unemp_2016_df

,State,2016 Unemp. Rate (%)
45,Alabama,5.9
51,Alaska,6.6
42,Arizona,5.5
15,Arkansas,4.0
53,BROWSE LAU LAU HOME LAU OVERVIEW LAU NEWS R...,Unemployment Rates for States Unemployment Rat...
43,California,5.5
5,Colorado,3.1
28,Connecticut,4.8
22,Delaware,4.5
50,District of Columbia,6.2
29,Florida,4.9
40,Georgia,5.4
2,Hawaii,2.9
11,Idaho,3.7
46,Illinois,5.9
21,Indiana,4.4
10,Iowa,3.6
16,Kansas,4.0
33,Kentucky,5.0
48,Louisiana,6.1
12,Maine,3.8
19,Maryland,4.3
17,Massachusetts,4.0
34,Michigan,5.0
13,Minnesota,3.9
47,Mississippi,5.9
23,Missouri,4.5
20,Montana,4.3
6,Nebraska,3.1
44,Nevada,5.8
3,New Hampshire,2.9
30,New Jersey,4.9
52,New Mexico,6.7
31,New York,4.9
36,North Carolina,5.1
7,North Dakota,3.1
54,Note: Rates shown are a percentage of the labo...,Note: Rates shown are a percentage of the labo...
35,Ohio,5.0
24,Oklahoma,4.6
26,Oregon,4.7
39,Pennsylvania,5.3
37,Rhode Island,5.2
32,South Carolina,4.9
4,South Dakota,3.0
27,Tennessee,4.7
25,Texas,4.6
0,United States,4.9
9,Utah,3.3
8,Vermont,3.1
18,Virginia,4.0
38,Washington,5.2
49,West Virginia,6.1
14,Wisconsin,3.9
41,Wyoming,5.4
1,NaN,NaN

***
<font color = blue>__Drop irrelevant rows by index__</font>

In [75]:
unemp_2016_df = unemp_2016_df.drop([53, 54, 1, 0])
unemp_2016_df.head()

         State 2016 Unemp. Rate (%)
45     Alabama                  5.9
51      Alaska                  6.6
42     Arizona                  5.5
15    Arkansas                  4.0
43  California                  5.5

***
<font color = blue>__Reset index & drop index__</font>

In [76]:
unemp_2016_df = unemp_2016_df.reset_index(drop=True)
unemp_2016_df

                   State 2016 Unemp. Rate (%)
0                Alabama                  5.9
1                 Alaska                  6.6
2                Arizona                  5.5
3               Arkansas                  4.0
4             California                  5.5
5               Colorado                  3.1
6            Connecticut                  4.8
7               Delaware                  4.5
8   District of Columbia                  6.2
9                Florida                  4.9
10               Georgia                  5.4
11                Hawaii                  2.9
12                 Idaho                  3.7
13              Illinois                  5.9
14               Indiana                  4.4
15                  Iowa                  3.6
16                Kansas                  4.0
17              Kentucky                  5.0
18             Louisiana                  6.1
19                 Maine                  3.8
20              Maryland                  4.3
21         Massachusetts                  4.0
22              Michigan                  5.0
23             Minnesota                  3.9
24           Mississippi                  5.9
25              Missouri                  4.5
26               Montana                  4.3
27              Nebraska                  3.1
28                Nevada                  5.8
29         New Hampshire                  2.9
30            New Jersey                  4.9
31            New Mexico                  6.7
32              New York                  4.9
33        North Carolina                  5.1
34          North Dakota                  3.1
35                  Ohio                  5.0
36              Oklahoma                  4.6
37                Oregon                  4.7
38          Pennsylvania                  5.3
39          Rhode Island                  5.2
40        South Carolina                  4.9
41          South Dakota                  3.0
42             Tennessee                  4.7
43                 Texas                  4.6
44                  Utah                  3.3
45               Vermont                  3.1
46              Virginia                  4.0
47            Washington                  5.2
48         West Virginia                  6.1
49             Wisconsin                  3.9
50               Wyoming                  5.4

***
<font color = blue>__View dataframe's datatypes__</font>

In [77]:
unemp_2016_df.dtypes

State                   object
2016 Unemp. Rate (%)    object
dtype: object

***
<font color = blue>__Convert unemployment rates from string to float__</font>

In [78]:
unemp_2016_df['2016 Unemp. Rate (%)'] = pd.to_numeric(unemp_2016_df['2016 Unemp. Rate (%)'])
print(unemp_2016_df.dtypes)

State                    object
2016 Unemp. Rate (%)    float64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [79]:
unemp_2016_df.isna().sum()

State                   0
2016 Unemp. Rate (%)    0
dtype: int64

### 7th Dataset: Unemployment Rate by State (2015)
 - Drop blank columns
 - Rename columns
 - Remove irrelevant row
 - Remove blank rows after row 50
 - Remove whitespace in State column
 - Sort by State
 - Reset index
 - Confirm datatypes
 - Check for missing values

In [80]:
unemp_2015_df.head()

,State,2015 Rate,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,United States,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***
<font color = blue>__View column names__</font>

In [81]:
unemp_2015_df.columns

Index(['State', '2015 Rate', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')

***
<font color = blue>__Drop blank columns__</font>

In [82]:
unemp_2015_df = unemp_2015_df.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6",\
                                     "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10", "Unnamed: 11",\
                                     "Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16",\
                                     "Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20", "Unnamed: 21",\
                                     "Unnamed: 22", "Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 26"])
unemp_2015_df

               State  2015 Rate
0     United States         5.3
1           Alabama         6.1
2            Alaska         6.5
3           Arizona         6.1
4           Arkansas        5.2
...              ...        ...
1011             NaN        NaN
1012             NaN        NaN
1013             NaN        NaN
1014             NaN        NaN
1015             NaN        NaN

[1016 rows x 2 columns]

***
<font color = blue>__Rename columns. Unemp. Rate = Unemployment Rate__</font>

In [84]:
unemp_2015_df = unemp_2015_df.rename(columns = {"2015 Rate": "2015 Unemp. Rate (%)"})
unemp_2015_df.head()

            State  2015 Unemp. Rate (%)
0  United States                    5.3
1        Alabama                    6.1
2         Alaska                    6.5
3        Arizona                    6.1
4        Arkansas                   5.2

***
<font color = blue>__Drop first row__</font>

In [85]:
unemp_2015_df = unemp_2015_df.drop([0])
unemp_2015_df

            State  2015 Unemp. Rate (%)
1        Alabama                    6.1
2         Alaska                    6.5
3        Arizona                    6.1
4        Arkansas                   5.2
5     California                    6.2
...           ...                   ...
1011          NaN                   NaN
1012          NaN                   NaN
1013          NaN                   NaN
1014          NaN                   NaN
1015          NaN                   NaN

[1015 rows x 2 columns]

***
<font color = blue>__Drop blank rows__</font>

In [87]:
to_drop = unemp_2015_df.iloc[51:].index

In [88]:
unemp_2015_df = unemp_2015_df.drop(to_drop)
unemp_2015_df

                    State  2015 Unemp. Rate (%)
1                Alabama                    6.1
2                 Alaska                    6.5
3                Arizona                    6.1
4                Arkansas                   5.2
5             California                    6.2
6               Colorado                    3.9
7             Connecticut                   5.6
8                Delaware                   4.9
9   District of Columbia                    6.9
10                Florida                   5.4
11               Georgia                    5.9
12                Hawaii                    3.6
13                 Idaho                    4.1
14              Illinois                    5.9
15                Indiana                   4.8
16                  Iowa                    3.7
17                Kansas                    4.2
18               Kentucky                   5.4
19             Louisiana                    6.3
20                 Maine                    4.4
21               Maryland                   5.2
22          Massachusetts                   5.0
23               Michigan                   5.4
24             Minnesota                    3.7
25           Mississippi                    6.5
26               Missouri                   5.0
27               Montana                    4.1
28              Nebraska                    3.0
29                Nevada                    6.7
30         New Hampshire                    3.4
31             New Jersey                   5.6
32            New Mexico                    6.6
33               New York                   5.3
34         North Carolina                   5.7
35          North Dakota                    2.7
36                  Ohio                    4.9
37              Oklahoma                    4.2
38                 Oregon                   5.7
39           Pennsylvania                   5.1
40          Rhode Island                    6.0
41        South Carolina                    6.0
42          South Dakota                    3.1
43              Tennessee                   5.8
44                 Texas                    4.5
45                  Utah                    3.5
46               Vermont                    3.7
47              Virginia                    4.4
48             Washington                   5.7
49         West Virginia                    6.7
50             Wisconsin                    4.6
51               Wyoming                    4.2

***
<font color = blue>__Sort by State__</font>

In [89]:
# sort values by state

unemp_2015_df = unemp_2015_df.sort_values(by = 'State')
unemp_2015_df.head()

         State  2015 Unemp. Rate (%)
1     Alabama                    6.1
2      Alaska                    6.5
3     Arizona                    6.1
4     Arkansas                   5.2
5  California                    6.2

***
<font color = blue>__Check State column values. Found Whitespace in front of State names__</font>

In [90]:
unemp_2015_df['State'].values

array(['Alabama ', 'Alaska ', 'Arizona ', 'Arkansas', 'California ',
       'Colorado ', 'Connecticut', 'Delaware', 'District of Columbia ',
       'Florida', 'Georgia ', 'Hawaii ', 'Idaho ', 'Illinois ', 'Indiana',
       'Iowa ', 'Kansas ', 'Kentucky', 'Louisiana ', 'Maine ', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota ', 'Mississippi ',
       'Missouri', 'Montana ', 'Nebraska ', 'Nevada ', 'New Hampshire ',
       'New Jersey', 'New Mexico ', 'New York', 'North Carolina',
       'North Dakota ', 'Ohio ', 'Oklahoma ', 'Oregon', 'Pennsylvania',
       'Rhode Island ', 'South Carolina ', 'South Dakota ', 'Tennessee',
       'Texas ', 'Utah ', 'Vermont ', 'Virginia ', 'Washington',
       'West Virginia ', 'Wisconsin ', 'Wyoming '], dtype=object)

***
<font color = blue>__Use .rstrip() to remove whitespace on right side of value__</font>

In [91]:
unemp_2015_df['State'] = unemp_2015_df['State'].str.rstrip()
unemp_2015_df['State'].values

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

***
<font color = blue>__Reset index & drop index__</font>

In [92]:
unemp_2015_df = unemp_2015_df.reset_index(drop=True)
unemp_2015_df.head()

        State  2015 Unemp. Rate (%)
0     Alabama                   6.1
1      Alaska                   6.5
2     Arizona                   6.1
3    Arkansas                   5.2
4  California                   6.2

***
<font color = blue>__Confirm Unemployment Rate datatype are floats__</font>

In [93]:
unemp_2015_df.dtypes

State                    object
2015 Unemp. Rate (%)    float64
dtype: object

***
<font color = blue>__Confirm no missing values__</font>

In [94]:
unemp_2015_df.isna().sum()

State                   0
2015 Unemp. Rate (%)    0
dtype: int64

### Merge 5 Unemployment Rate Dataframes into 1

In [96]:
unemp_1 = pd.merge(unemp_2019_df, unemp_2018_df, on="State")
unemp_1.head()

        State  2019 Unemp. Rate (%)  2018 Unemp. Rate (%)
0     Alabama                   3.0                   3.9
1      Alaska                   5.4                   5.9
2     Arizona                   4.9                   4.8
3    Arkansas                   3.5                   3.7
4  California                   4.2                   4.3

In [97]:
unemp_2 = pd.merge(unemp_1, unemp_2017_df, on="State")
unemp_2.head()

,State,2019 Unemp. Rate (%),2018 Unemp. Rate (%),2017 Unemp. Rate (%)
0,Alabama,3.0,3.9,4.6
1,Alaska,5.4,5.9,6.5
2,Arizona,4.9,4.8,4.9
3,Arkansas,3.5,3.7,3.7
4,California,4.2,4.3,4.8

In [98]:
unemp_3 = pd.merge(unemp_2, unemp_2016_df, on="State")
unemp_3.head()

,State,2019 Unemp. Rate (%),2018 Unemp. Rate (%),2017 Unemp. Rate (%),2016 Unemp. Rate (%)
0,Alabama,3.0,3.9,4.6,5.9
1,Alaska,5.4,5.9,6.5,6.6
2,Arizona,4.9,4.8,4.9,5.5
3,Arkansas,3.5,3.7,3.7,4.0
4,California,4.2,4.3,4.8,5.5

In [99]:
unemp_final_df = pd.merge(unemp_3, unemp_2015_df, on="State")
unemp_final_df.head()

,State,2019 Unemp. Rate (%),2018 Unemp. Rate (%),2017 Unemp. Rate (%),2016 Unemp. Rate (%),2015 Unemp. Rate (%)
0,Alabama,3.0,3.9,4.6,5.9,6.1
1,Alaska,5.4,5.9,6.5,6.6,6.5
2,Arizona,4.9,4.8,4.9,5.5,6.1
3,Arkansas,3.5,3.7,3.7,4.0,5.2
4,California,4.2,4.3,4.8,5.5,6.2

### View final 3 clean dataframes

***
<font color = blue>__Final Median Income by State (2015 - 2019)__</font>

In [102]:
median_income_df

,State,2019 Med. Income,2018 Med. Income,2017 Med. Income,2016 Med. Income,2015 Med. Income
0,Alabama,56200,49936,50865,47221,44509
1,Alaska,78394,68734,77987,75723,75112
2,Arizona,70674,62283,59700,57100,52248
3,Arkansas,54539,49781,49751,45907,42798
4,California,78105,70489,70038,66637,63636
5,Colorado,72499,73034,74984,70566,66596
6,Connecticut,87291,72812,74304,75923,72889
7,Delaware,74194,65012,64961,58046,57756
8,District of Columbia,93111,85750,81282,70982,70071
9,Florida,58368,54644,53086,51176,48825
10,Georgia,56628,55821,57985,53527,50768
11,Hawaii,88006,80108,73599,72133,64514
12,Idaho,65988,58728,59497,56564,51624
13,Illinois,74399,70145,65969,61386,60413
14,Indiana,66693,59892,58767,56094,51983
15,Iowa,66054,68718,63467,59094,60855
16,Kansas,73151,63938,56900,56810,54865
17,Kentucky,55662,54555,49672,45369,42387
18,Louisiana,51707,49973,43565,42196,45922
19,Maine,66546,58663,53316,50856,50756
20,Maryland,95572,86223,82093,73760,73594
21,Massachusetts,87707,86345,76243,72266,67861
22,Michigan,64119,60449,56405,57091,54203
23,Minnesota,81426,71817,69975,70218,68730
24,Mississippi,44787,42781,43281,41099,40037
25,Missouri,60597,61726,56530,55016,59196
26,Montana,60195,57679,57407,57075,51395
27,Nebraska,73071,67575,59583,59374,60474
28,Nevada,70906,61864,58041,55431,52008
29,New Hampshire,86900,81346,75630,76260,75675
30,New Jersey,87726,74176,71240,68468,68357
31,New Mexico,53113,48283,45601,48451,45119
32,New York,71855,67274,61543,61437,58005
33,North Carolina,61159,53369,49547,53764,50797
34,North Dakota,70031,66505,60167,60184,57415
35,Ohio,64663,61633,60688,53985,53301
36,Oklahoma,59397,54434,51882,50943,47077
37,Oregon,74413,69165,62498,59135,60834
38,Pennsylvania,70582,64524,61285,60979,60389
39,Rhode Island,70151,62266,65401,61528,55701
40,South Carolina,62028,57444,54537,54336,46360
41,South Dakota,64255,59463,56914,57450,55065
42,Tennessee,56627,56060,55306,51344,47330
43,Texas,67444,59785,60092,58146,56473
44,Utah,84523,77067,69789,67481,66258
45,Vermont,74305,70066,63682,60837,59494
46,Virginia,81313,77151,70811,66451,61486
47,Washington,82454,79726,71540,70310,67243
48,West Virginia,53706,50573,46957,44354,42824
49,Wisconsin,67355,62629,63482,59817,55425
50,Wyoming,65134,62539,59536,57829,60925

***
<font color = blue>__Final Population by State (2015 - 2019)__</font>

In [103]:
population_df

,State,2019 Population,2018 Population,2017 Population,2016 Population,2015 Population
0,Alabama,4903185,4887681,4874486,4863525,4852347
1,Alaska,731545,735139,739700,741456,737498
2,Arizona,7278717,7158024,7044008,6941072,6829676
3,Arkansas,3017804,3009733,3001345,2989918,2978048
4,California,39512223,39461588,39358497,39167117,38918045
5,Colorado,5758736,5691287,5611885,5539215,5450623
6,Connecticut,3565287,3571520,3573297,3578141,3587122
7,Delaware,973764,965479,956823,948921,941252
8,District of Columbia,705749,701547,694906,685815,675400
9,Florida,21477737,21244317,20963613,20613477,20209042
10,Georgia,10617423,10511131,10410330,10301890,10178447
11,Hawaii,1415872,1420593,1424393,1427559,1422052
12,Idaho,1787065,1750536,1717715,1682380,1651059
13,Illinois,12671821,12723071,12778828,12820527,12858913
14,Indiana,6732219,6695497,6658078,6634304,6608422
15,Iowa,3155070,3148618,3141550,3131371,3120960
16,Kansas,2913314,2911359,2908718,2910844,2909011
17,Kentucky,4467673,4461153,4452268,4438182,4425976
18,Louisiana,4648794,4659690,4670560,4678135,4664628
19,Maine,1344212,1339057,1334612,1331317,1328262
20,Maryland,6045680,6035802,6023868,6003323,5985562
21,Massachusetts,6892503,6882635,6859789,6823608,6794228
22,Michigan,9986857,9984072,9973114,9950571,9931715
23,Minnesota,5639632,5606249,5566230,5522744,5482032
24,Mississippi,2976149,2981020,2988510,2987938,2988471
25,Missouri,6137428,6121623,6106670,6087135,6071732
26,Montana,1068778,1060665,1052482,1040859,1030475
27,Nebraska,1934408,1925614,1915947,1905616,1891277
28,Nevada,3080156,3027341,2969905,2917563,2866939
29,New Hampshire,1359711,1353465,1348787,1342307,1336350
30,New Jersey,8882190,8886025,8885525,8870827,8867949
31,New Mexico,2096829,2092741,2091784,2091630,2089291
32,New York,19453561,19530351,19589572,19633428,19654666
33,North Carolina,10488084,10381615,10268233,10154788,10031646
34,North Dakota,762062,758080,754942,754434,754066
35,Ohio,11689100,11676341,11659650,11634370,11617527
36,Oklahoma,3956971,3940235,3931316,3926331,3909500
37,Oregon,4217737,4181886,4143625,4089976,4015792
38,Pennsylvania,12801989,12800922,12787641,12782275,12784826
39,Rhode Island,1059361,1058287,1055673,1056770,1056065
40,South Carolina,5148714,5084156,5021268,4957968,4891938
41,South Dakota,884659,878698,872868,862996,853988
42,Tennessee,6829174,6771631,6708799,6646010,6591170
43,Texas,28995881,28628666,28295273,27914410,27470056
44,Utah,3205958,3153550,3101042,3041868,2981835
45,Vermont,623989,624358,624344,623657,625216
46,Virginia,8535519,8501286,8463587,8410106,8361808
47,Washington,7614893,7523869,7423362,7294771,7163657
48,West Virginia,1792147,1804291,1817004,1831023,1842050
49,Wisconsin,5822434,5807406,5790186,5772628,5760940
50,Wyoming,578759,577601,578931,584215,585613

***
<font color = blue>__Final Unemployment by State (2015 - 2019)__</font>

In [104]:
unemp_final_df

,State,2019 Unemp. Rate (%),2018 Unemp. Rate (%),2017 Unemp. Rate (%),2016 Unemp. Rate (%),2015 Unemp. Rate (%)
0,Alabama,3.0,3.9,4.6,5.9,6.1
1,Alaska,5.4,5.9,6.5,6.6,6.5
2,Arizona,4.9,4.8,4.9,5.5,6.1
3,Arkansas,3.5,3.7,3.7,4.0,5.2
4,California,4.2,4.3,4.8,5.5,6.2
5,Colorado,2.7,3.0,2.6,3.1,3.9
6,Connecticut,3.6,3.9,4.4,4.8,5.6
7,Delaware,3.7,3.7,4.4,4.5,4.9
8,District of Columbia,5.4,5.7,6.1,6.2,6.9
9,Florida,3.3,3.6,4.2,4.9,5.4
10,Georgia,3.5,4.0,4.8,5.4,5.9
11,Hawaii,2.5,2.4,2.2,2.9,3.6
12,Idaho,2.8,2.8,3.2,3.7,4.1
13,Illinois,4.0,4.4,5.0,5.9,5.9
14,Indiana,3.2,3.4,3.5,4.4,4.8
15,Iowa,2.8,2.6,3.1,3.6,3.7
16,Kansas,3.2,3.3,3.6,4.0,4.2
17,Kentucky,4.1,4.2,4.8,5.0,5.4
18,Louisiana,4.7,4.8,5.1,6.1,6.3
19,Maine,2.7,3.1,3.4,3.8,4.4
20,Maryland,3.5,3.8,4.1,4.3,5.2
21,Massachusetts,3.0,3.4,3.8,4.0,5.0
22,Michigan,4.1,4.2,4.6,5.0,5.4
23,Minnesota,3.2,3.0,3.4,3.9,3.7
24,Mississippi,5.5,5.0,5.2,5.9,6.5
25,Missouri,3.3,3.2,3.8,4.5,5.0
26,Montana,3.6,3.8,4.1,4.3,4.1
27,Nebraska,3.0,2.9,2.9,3.1,3.0
28,Nevada,3.9,4.4,5.0,5.8,6.7
29,New Hampshire,2.6,2.6,2.8,2.9,3.4
30,New Jersey,3.4,4.0,4.5,4.9,5.6
31,New Mexico,5.0,4.9,6.1,6.7,6.6
32,New York,3.8,4.1,4.6,4.9,5.3
33,North Carolina,3.8,4.0,4.5,5.1,5.7
34,North Dakota,2.3,2.5,2.7,3.1,2.7
35,Ohio,4.2,4.5,5.0,5.0,4.9
36,Oklahoma,3.1,3.3,4.0,4.6,4.2
37,Oregon,3.7,4.0,4.1,4.7,5.7
38,Pennsylvania,4.5,4.4,5.0,5.3,5.1
39,Rhode Island,3.6,4.1,4.5,5.2,6.0
40,South Carolina,2.8,3.4,4.2,4.9,6.0
41,South Dakota,3.0,2.9,3.1,3.0,3.1
42,Tennessee,3.4,3.5,3.7,4.7,5.8
43,Texas,3.5,3.9,4.3,4.6,4.5
44,Utah,2.5,2.9,3.1,3.3,3.5
45,Vermont,2.3,2.6,3.0,3.1,3.7
46,Virginia,2.7,2.9,3.7,4.0,4.4
47,Washington,4.1,4.4,4.6,5.2,5.7
48,West Virginia,4.9,5.2,5.2,6.1,6.7
49,Wisconsin,3.3,3.0,3.3,3.9,4.6
50,Wyoming,3.7,4.0,4.3,5.4,4.2